html {
  scroll-behavior: smooth;
  /*Color Palette*/
  --bg-primary: #ff8a6eff;
  --text-primary: #003542ff;
  --text-secondary: #283a6bff;
  --bg-secondary: #faeed1ff;
  --black: #000000ff;
  --oxford-blue: #14213dff;
  --orange-web: #fca311ff;
  --platinum: #e5e5e5ff;
  --white: #ffffffff;
  --nav-width: 5em;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-secondary);
  font-family: "Poppins", "Segoe UI", "Roboto", "Oxygen", sans-serif;
  display: -ms-grid;
  display: grid;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--oxford-blue);
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: var(--text-secondary);
}

h2 {
  font-size: 3em;
  font-weight: bold;
  color: var(--text-secondary);
}

p {
  font-size: 1.3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: var(--text-primary);
}

.navbar {
  width: var(--nav-width);
  height: 100vh;
  height: 100%;
  position: fixed;
  background-color: var(--bg-primary);
  -webkit-transition: width 200ms ease;
  transition: width 200ms ease;
  margin: 0%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Montserrat", sans-serif;
  border-right-style: solid;
  border-color: var(--black);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item {
  width: 100%;
  margin-bottom: 2rem;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rm;
  text-decoration: none;
  color: var(--text-primary);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-link .link-text {
  display: none;
  margin-left: 1em;
}

.nav-link .nav-item-logo {
  min-width: 2em;
  max-width: 3em;
}

.navbar:hover {
  width: calc(var(--nav-width) + 9em);
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.navbar:hover .nav-link {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.navbar:hover .nav-item-logo {
  margin-left: 1em;
}

.navbar:hover .link-text {
  display: block;
  color: var(--bg-secondary);
  font-weight: 900;
  font-size: large;
}

.nav-item:hover {
  background: rgba(155, 75, 55, 0.157);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-radius: 0.3em;
  border-color: var(--black);
}

.nav-item:hover .link-text {
  font-size: larger;
}

.nav-item:hover .nav-item-logo {
  max-width: 3.7em;
  width: 10em;
}

.banner-text {
  text-align: left;
  margin-top: 10em;
  margin-left: calc(var(--nav-width) + 10em);
  min-height: 100vh;
}

.contact-me {
  font-size: 1.3em;
  display: inline-block;
  margin-top: 5em;
  margin-bottom: 5em;
  padding: 0.5em 1em;
  border-style: solid;
  border-color: var(--oxford-blue);
  border-radius: 2em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--bg-primary);
  color: #fff8deff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner-background {
  top: 0;
  position: fixed;
  background: var(--bg-secondary);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: var(--bg-primary);
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: -150px;
  border-style: solid;
  border-color: var(--oxford-blue);
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    -webkit-transform: translateY(-1000px) rotate(720deg);
            transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.about-content {
  text-align: left;
  margin-top: 5em;
  margin-left: calc(var(--nav-width) + 10em);
  min-height: 100vh;
}

.skill-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 800px) {
  .skill-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.skill-content {
  display: flexbox;
  padding: 2em;
  margin: 0;
  overflow: auto;
  max-width: 35vw;
  min-width: 30vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.skill-sphere {
  display: flexbox;
  min-width: 500;
  color: var(--bg-primary);
  padding: 0%;
  margin-top: 0%;
  margin-left: -1%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#skill-canvas {
  padding: 0%;
  margin-left: -5%;
}
/*# sourceMappingURL=index.css.map */